// Color base para las letras
$base-color: #333;

// Tamaño base de la letra
$base-font-size: 16px;

// Tipo de letra base para el cuerpo de la página
$base-font: 'Lato', sans-serif;

// Tipo de letra para encabezados
$heading-font: 'Raleway', sans-serif;

// Grosor de la fuente negrita
$font-bold: 700;

// Color de tema principal
$theme-color: #FF0000;

// Color secundario
$secondary-color: #F7931D;
